#section1{
    background: url(Spain.jpg) no-repeat center fixed;
    background-size: cover;
}

#section2{
    background: url(california.jpg) no-repeat center fixed;
    background-size: cover;
}

#section3{
    background: url(NewYork.jpg) no-repeat center fixed;
    background-size: cover;
}

#section4{
    background: url(Spotify_Back.jpg) no-repeat center fixed;
    background-size: cover;
}

#section5{
    background: url(Spotify_Back.jpg) no-repeat center fixed;
    background-size: cover;
}

#section6{
    background: url(Spotify_Back.jpg) no-repeat center fixed;
    background-size: cover;
}

.section{
    text-align: center;
    color: white;
    font: 15px/1.5 Arial, Helvetica,sans-serif;
}

.logo{
 width:230px;
 height:220px;
}